<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
	data-layout-decorate="template1">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>

	<link rel="stylesheet" href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>

<body>



	<div layout:fragment="content">
	



		<div class="container pt-3">
			<div class="form-group">
				<div class="jumbotron text-center">

					<h1>Livres</h1>
				</div>
				
				<br>
				<div class="col-md-3 mb-3">
					<div>
						<span th:if="${role!='user'} "> <a th:href="@{/books}"class="btn btn-primary eBtn" id ="ajouter"><input type="button"
									class="btn btn-primary" value="+Ajouter" /></a></span>
					</div>

					<br>

					<form th:action="@{/books}" method="get">

						<br>
						<div>
							<label for="nom">Type de recherche</label>
							<select th:name=type>

								<option th:each="o:${listTypes}" th:text="${o.nom}" th:value="${o.nom}"></option>
							</select>
							<br>
							<input type="text" th:name="recherche" class="form-control" placeholder="Rechercher">

						</div>
						<br>

						<input type="submit" class="btn btn-primary" value="rechercher">
						<br>
						<br>


					</form>
				</div>
				<br>
				<br>
				<div class="border rounded">
					<table class="table table-striped">
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Auteur</th>
							<th scope="col">Type</th>
							<th scope="col">Section</th>
							<th scope="col">Emplacement</th>
							<th scope="col">Nombre d'exemplaire</th>
							<th th:if="${role=='user'} " scope="col">Date de retour</th>
							<th th:if="${role=='user'} " scope="col">file d'attente</th>

							<th th:if="${role=='user' } "></th>
							<th></th>
						</tr>
						<tr th:each="book:${bookPage}">
							<td th:text="${book.nom}"></td>
							<td th:text="${book.auteur}"></td>
							<td th:text="${book.type}"></td>
							<td th:text="${book.section}"></td>
							<td th:text="${book.emplacement}"></td>
							<td th:text="${book.nombreExemplaire}"></td>
							<td th:if="${role=='user'   } " th:text="${#dates.format(book.dateDeRetour, 'dd-MM-yyyy')}"></td>	 
					 <td th:if="${role=='user'   } " th:text="${book.nombreListeDattente}"></td>	 
					 
					<td  th:if="${role=='user' } "><form method="post" th:action="@{/prets(id=${book.codeLivre})}"  >
	            <button type="submit" name="submit" value="value" class="btn btn-primary">Reserver</button>
	        </form> </td>
					
				</tr>
		
		</table>
</div>
	</div>
<div th:if="${bookPage.totalPages > 0}"
    th:each="pageNumber : ${pageNumbers}" class="pagination">
    <nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item"> <a class="page-link"th:href="@{/books(page=${pageNumber-1},size=${bookPage.size},type=${type},recherche=${recherche})}"
        th:text=${pageNumber}
        th:class="${pageNumber==bookPage.number} ? active"></a>
        </li>
        </ul>
        </nav>
</div>
	

	<div class="alert alert-success"th:if="${succes}" th:text="${succes}"role="alert" >
</div>
	

				</div>
				
				
				
				
					<div class="myForm">
<form th:action="@{/books}"   th:object="${livre}" method="post">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update or create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="form-group">
            <label for="nom" class="form-control-label">Nom</label>
         <input type="text" th:field="*{nom}" id="nom" class="form-control" placeholder="nom">
        <div th:if="${#fields.hasErrors('nom')}" class="alert alert-danger" role="alert"><span class="alert alert-primary" th:errors="*{nom}"></span></div>
          </div>
            <div class="form-group">
            <label for="auteur" class="form-control-label">Auteur</label>
            <input type="text" th:field="*{auteur}" id="auteur" class="form-control" placeholder="auteur">
     <div  th:if="${#fields.hasErrors('auteur')}" class="alert alert-danger" role="alert"><span class="alert alert-primary" th:errors="*{auteur}"></span></div>
          </div>
     <div class="form-group">
            <label for="type" class="form-control-label">type</label>
             <input type="text" th:field="*{type}" id="type" class="form-control" placeholder="type">
     <div  th:if="${#fields.hasErrors('type')}" class="alert alert-danger" role="alert"><span class="alert alert-primary"  th:errors="*{type}"></span></div>
          </div>
             <div class="form-group">
            <label for="emplacement" class="form-control-label">Emplacement</label>
            <input type="text" th:field="*{emplacement}" id="emplacement" class="form-control" placeholder="emplacement">
   <div  th:if="${#fields.hasErrors('emplacement')}" class="alert alert-danger" role="alert"> <span class="alert alert-primary" th:errors="*{emplacement}"></span></div>
          </div>
             <div class="form-group">
            <label for="number" class="form-control-label">Nombre de livres</label>
            <input type="number" th:field="*{nombreExemplaire}" id="nombreExemplaire" class="form-control" placeholder="nombreExemplaire">
   <div  th:if="${#fields.hasErrors('nombreExemplaire')}" class="alert alert-danger" role="alert"> <span class="alert alert-primary" th:errors="*{nombreExemplaire}"></span></div>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value ="save"/>
      </div>
    </div>
  </div>
         
</div>
 </form>
</div>
				
				
				
				
				</div>		

</body>